:root{
  --bg-color: white; 
  --txt-color: #222426;
}

@media (prefers-color-scheme: dark){
  :root{
    --bg-color: #38383d;
    --txt-color: #f9f9fa;
  }
}

html, body {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

.fontdflt {
  font: caption;
}

.fontwin {
  font: 12px "Segoe UI";
}

.group {
  border: 1px solid #D7D7D7;
  padding: 10px 10px;
}

img {
  border: 1px solid black;
}

textarea {
  resize: none;
  font-size: 11px;
  height: 80px;
  width: 300px;
}

#fontsize, #spacesize, #historyretention {
  width: 4em;
}