html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: hidden;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.fontdflt {
  font: caption;
}

.fontwin {
  font: 12px "Segoe UI";
}

p {
  margin: 1em 2em;
}

#searchbox {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  border: 1px solid #7A7A7A;
  flex: none;
}

#searchbox:hover {
  border: 1px solid #171717;	
}

#searchbox:focus-within {
  border: 1px solid #0078D7;	
}

#searchtext {
  flex: 1;
  background-color: white;
  border: 0;
}

#cancelsearch {
  cursor: default;
}

#searchresult {
  height: 20%;
  max-height: 80%;
  min-height: 10%;
  min-width: 100%;
  margin: 0 0 0 0;
  overflow-x: hidden;
  overflow-y: auto;
  resize: vertical;
  border-bottom: thin solid black;
  flex: none;
}

#waiting, #waitingsearch {
  margin-left: 20px;
}

#trace {
  width: 200px;
  resize: none;
  font-size: x-small;
  white-space: pre;
  overflow: visible;
  flex: none;
  margin-left: 4px;
}

#bookmarks {
  margin: 0 0 0 0;
  overflow: auto;
  flex: auto;
}

table {
  min-width: 100%;
  border-spacing: 0;
}

tbody {
  min-width: 100%;
}

.cut {
  opacity: 0.5;
}

.brow {
  min-width: 100%;
  background-color: white;
  border: 1px solid white;
  padding: 0;
  min-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selbrow {
  min-width: 100%;
  background-color: #D9D9D9;
  border-color: #D9D9D9 #D9D9D9 #CCCCCC;
  border-width: 1px;
  border-style: solid;
  padding: 0;
  min-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brow:hover, .selbrow:hover {
  background-color: #E5F3FF;
  border-color: #E5F3FF;
}

.brow:focus, .selbrow:focus {
  background-color: #CDE8FF;
  border-color: #7BC3FF;
}

.twistiena {
  height: 16px;
  width: 16px;
  flex: none;
  background-image: url("/icons/twistiena.png");
}

.twistieac {
  height: 16px;
  width: 16px;
  flex: none;
  background-image: url("/icons/twistieac.png");
}

.brow:hover .twistieac, .selbrow:hover .twistieac {
  background-image: url("/icons/twistieacf.png");
}

.twistieao {
  height: 16px;
  width: 16px;
  flex: none;
  background-image: url("/icons/twistieao.png");
}

.brow:hover .twistieao, .selbrow:hover .twistieao {
  background-image: url("/icons/twistieaof.png");
}

.bkmkitem_b {
  flex: none;
  border: 0;
  cursor: pointer;
}

.bkmkitem_f {
  flex: auto;
}

.bkmkitem_s {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.favseparator {
  flex: auto;
  border-bottom: 1px solid #A0A0A0;
}

.favseparatorend {
  flex: none;
  width: 1px;
  height: 17px;
}

.ffavicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
  background-image: url("/icons/folder.png");
}

.nofavicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
  background-image: url("/icons/nofavicon.png");
}

.favicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
}

.favtext {
  margin-left: 3px;
}

.mymenu {
  position: fixed;
  z-index: 9999;
  visibility: hidden;
  opacity: 1;
  overflow-x: hidden;
  padding: 2px;
  background: #F0F0F0;
  color: #000000;
  border: 1px solid #CCCCCC;
  box-shadow: 4px 4px 3px -2px #808080FF;
}

.mymenu div {
  display: block;
  padding: 3px 3px 2px 20px;
  min-width: 150px;
  position: relative;
}

.mymenu div:hover {
  background: #98C8FF;
}

.mymenu hr {
  border: 1px solid #D0D0D0;
  border-bottom: 0;
  margin: 2px 3px 2px 20px;
}

.menudisabled {
  color: #6D6D6D;
}

.menudisabled:hover {
  background: #E5E5E5;
}

.menudefault {
  font-weight: bold;
}