html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: hidden;
}

body {
  background-color: white;
  color: #222426;
  display: flex;
  flex-direction: column;
}

.fontdflt {
  font: caption;
}

.fontwin {
  font: 12px "Segoe UI";
}

p {
  margin: 1em 2em;
}

#searchbox {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  border: 1px solid #7A7A7A;
  flex: none;
}

#searchbox:hover {
  border: 1px solid #171717;	
}

#searchbox:focus-within {
  border: 1px solid #0078D7;	
}

#sbutton {
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  border: 0;
  line-height: 0;
  padding: 0;
}

#sbutton:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.swboth {
  background-color: #DC0000;
}

.swboth:hover {
  background-color: #FF0000;
}

.swtitle {
  background-image: linear-gradient(to bottom right, #DC0000 0%, #DC0000 50%, white 51%, white 100%);
}

.swtitle:hover {
  background-image: linear-gradient(to bottom right, #FF0000 0%, #FF0000 50%, white 51%, white 100%);
}

.swurl {
  background-image: linear-gradient(to bottom right, white 0%, white 50%, #DC0000 51%, #DC0000 100%);
}

.swurl:hover {
  background-image: linear-gradient(to bottom right, white 0%, white 50%, #FF0000 51%, #FF0000 100%);
}

.srboth {
  background-color: #3B679E;
}

.srboth:hover {
  background-color: #2B88D9;
}

.srtitle {
  background-image: linear-gradient(to bottom right, #3B679E 0%, #3B679E 50%, white 51%, white 100%);
}

.srtitle:hover {
  background-image: linear-gradient(to bottom right, #2B88D9 0%, #2B88D9 50%, white 51%, white 100%);
}

.srurl {
  background-image: linear-gradient(to bottom right, white 0%, white 50%, #3B679E 51%, #3B679E 100%);
}

.srurl:hover {
  background-image: linear-gradient(to bottom right, white 0%, white 50%, #2B88D9 51%, #2B88D9 100%);
}

#mglass {
  height: 20px;
  width: 21px;
  background-image: url("/icons/search.png");
}

#searchtext {
  flex: 1;
  background-color: white;
  color: black;
  border: 0;
}

#cancelsearch {
  background-color: white;
  cursor: default;
}

#searchresult {
  height: 20%;
  max-height: 80%;
  min-height: 10%;
  min-width: 100%;
  margin: 0 0 0 0;
  border-top: 1px solid white;
  overflow-x: hidden;
  resize: vertical;
  border-bottom: thin solid black;
  flex: none;
}

.rscrollok {
  overflow-y: auto;
}

.rscrollko {
  overflow-y: hidden;
}

#waiting, #waitingsearch {
  margin-left: 20px;
}

#trace {
  width: 200px;
  resize: none;
  font-size: x-small;
  white-space: pre;
  overflow: visible;
  flex: none;
  margin-left: 4px;
}

#bookmarks {
  margin: 0 0 0 0;
  border-top: 1px solid white;
  flex: auto;
}

.bscrollok {
  overflow: auto;
}

.bscrollko {
  overflow: hidden;
}

table {
  min-width: 100%;
  border-spacing: 0;
}

tbody {
  min-width: 100%;
}

.cut {
  opacity: 0.5;
}

.brow {
  min-width: 100%;
  background-color: white;
  border: 1px solid white;
  padding: 0;
  min-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.selbrow {
  min-width: 100%;
  background-color: #D9D9D9;
  border-color: #D9D9D9 #D9D9D9 #CCCCCC;
  border-width: 1px;
  border-style: solid;
  padding: 0;
  min-height: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.brow:hover, .selbrow:hover {
  background-color: #D7EDFF;
  border-color: #D7EDFF;
}

.brow:focus, .selbrow:focus {
  outline: none;
  background-color: #CDE8FF;
  border-color: #7BC3FF;
}

.twistiena {
  height: 16px;
  width: 16px;
  flex: none;
  background-image: url("/icons/twistiena.png");
}

.twistieac {
  height: 16px;
  width: 16px;
  flex: none;
  background-image: url("/icons/twistieac.png");
  cursor: pointer;
}

.rtwistieac {
  height: 16px;
  width: 16px;
  flex: none;
  background-image: url("/icons/twistieac.png");
  cursor: default;
}

.brow:hover .twistieac, .selbrow:hover .twistieac {
  background-image: url("/icons/twistieacf.png");
}

.twistieao {
  height: 16px;
  width: 16px;
  flex: none;
  background-image: url("/icons/twistieao.png");
  cursor: pointer;
}

.brow:hover .twistieao, .selbrow:hover .twistieao {
  background-image: url("/icons/twistieaof.png");
}

.bkmkitem_b {
  flex: none;
  cursor: pointer;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  margin-top: -2px;
  margin-bottom: -2px;
}

.rbkmkitem_b {
  flex: none;
  cursor: default;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  margin-top: -2px;
  margin-bottom: -2px;
}

.bkmkitem_f {
  flex: none;
  cursor: pointer;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  margin-top: -2px;
  margin-bottom: -2px;
}

.rbkmkitem_f {
  flex: none;
  cursor: default;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  margin-top: -2px;
  margin-bottom: -2px;
}

.bkmkitem_s {
  flex: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
  margin-top: -2px;
  margin-bottom: -2px;
}

.favseparator {
  flex: auto;
  border-bottom: 1px solid #222426;
}

.brow:hover .bkmkitem_s .favseparator, .brow:focus .bkmkitem_s .favseparator, .selbrow .bkmkitem_s .favseparator {
  border-bottom-color: #222426;
}

.favseparatorend {
  flex: none;
  width: 1px;
  height: 16px;
}

.ffavicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
  background-image: url("/icons/folder.png");
}

.nofavicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
  background-image: url("/icons/nofavicon.png");
}

.favicon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: text-bottom;
}

.favtext {
  margin-left: 3px;
  white-space: pre;
}

.mymenu {
  position: fixed;
  z-index: 9999;
  visibility: hidden;
  opacity: 1;
  overflow-x: hidden;
  padding: 2px;
  background: #F0F0F0;
  color: #000000;
  border: 1px solid #CCCCCC;
  box-shadow: 4px 4px 3px -2px #808080FF;
  cursor: default;
}

.mymenu div {
  display: block;
  padding: 3px 3px 2px 20px;
  min-width: 150px;
  position: relative;
}

.mymenu div:hover {
  background: #98C8FF;
}

.mymenu hr {
  border: 1px solid #D0D0D0;
  border-bottom: 0;
  margin: 2px 3px 2px 20px;
}

.menuinputradio {
  margin-left: -15px;
}

.menudisabled {
  color: #6D6D6D;
}

.menudisabled:hover {
  background: #E5E5E5;
}

.menudefault {
  font-weight: bold;
}

.notif {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #00000040;
  z-index: 10100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.dialog {
  border: solid;
  background-color: white;
  color: black;
  width: 90%;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: normal;
}